@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import the font AFTER base styles */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Public Sans", sans-serif !important;
}


.public-sans-body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
